/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#fenetre{
  -fx-background-image: url("menu.jpg");
}


#table{
  -fx-background-image: url("../../Data/Designs/GUI_Table.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover, auto;
  
}

#case{
	-fx-background-image: url("../../Data/Designs/GUI_Result.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
}

#case:hover{
	fx-background-color:red;
}

#result{
	-fx-background-image: url("../../Data/Designs/GUI_Result.png");
}
